.product-info-details {

    .img-details {

        width: 24px;

        height: 24px;

    }



}

.desc-icon {

    margin: 0 40px;

    display: flex;

    align-items: center;

}

.horizontal-bar {

    width: 110px;

    height: 8px;

    background-color: blue;

    margin-bottom: 44px;

}

.details-main {
    margin-top: 71px
}

.detail-container {
    margin-top: 20px;
}

.sweat-img,
.breathable-img,
.materials-img,
.feather-img {
    height: 24px;
}