@import url('../../../variable.scss');

.shipping-method-section {
    /* UI Properties */
    border: 1px solid #D1D3D6;
    border-radius: 2px;
    opacity: 1;
    padding: 3%;

    .shipping-method-block {
        display: flex;
        justify-content: space-between;
        padding: 3% 0;

        h1 {
            /* UI Properties */
            font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-600) var(--unnamed-font-size-16)/var(--unnamed-line-spacing-20) var(--unnamed-font-family-muli);
            letter-spacing: var(--unnamed-character-spacing-0);
            color: var(--unnamed-color-172026);
            text-align: left;
            font: normal normal 600 16px/20px Muli;
            letter-spacing: 0px;
            color: #172026;
            opacity: 1;
        }
    }

    .shipping-method-content {
        p {
            /* UI Properties */
            font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-16)/var(--unnamed-line-spacing-24) var(--unnamed-font-family-muli);
            letter-spacing: var(--unnamed-character-spacing-0);
            color: var(--gray-d1);
            text-align: left;
            font: normal normal normal 16px/24px Muli;
            letter-spacing: 0px;
            color: #535965;
            opacity: 1;
        }
    }

}

.shipping-method-section-radiobtn {
    margin: 5%;
    padding: 3% 0;

    .shipping-method-radio-text {
        h1 {
            /* UI Properties */
            font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-600) var(--unnamed-font-size-20)/var(--unnamed-line-spacing-25) var(--unnamed-font-family-muli);
            letter-spacing: var(--unnamed-character-spacing-0);
            color: var(--unnamed-color-172026);
            text-align: left;
            font: normal normal 600 20px/25px Muli;
            letter-spacing: 0px;
            color: #172026;
            opacity: 1;
        }
    }

    .radio-btn {
        .shipping-method-form-section {
            margin: 5%;
        }

        .first-btn {
            display: grid;
            grid-template-columns: 0.5fr 8fr;
            gap: 1em;
            margin-bottom: 10px;
        }

        .shipping-radio-btn {
            /* UI Properties */
            background: var(--white) 0% 0% no-repeat padding-box;
            border: 2px solid var(--primary-brand);
            background: #FFFFFF 0% 0% no-repeat padding-box;
            border: 2px solid #E26A2C;
            opacity: 1;
            height: 24px;
            width: 24px;
        }
    }

    .shipping-method-btn {
        /* UI Properties */
        background: var(--white) 0% 0% no-repeat padding-box;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        border: 2px solid #D4703D;
        opacity: 1;
        height: 40px;
        width: 50%;
        margin: 8% auto;
        display: block;
    }
.shipping-method-txt{
    /* UI Properties */
font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-600) var(--unnamed-font-size-20)/var(--unnamed-line-spacing-25) var(--unnamed-font-family-muli);
letter-spacing: var(--unnamed-character-spacing-0);
text-align: left;
font: normal normal 600 20px/25px Muli;
letter-spacing: 0px;
color: #72777F;
opacity: 1;
padding: 5% 0;
}
    

}

@media all and (min-width:769px){
.shipping-method-guest-heading{
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-600) var(--unnamed-font-size-36)/var(--unnamed-line-spacing-30) var(--unnamed-font-family-source-serif-pro);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-172026);
    text-align: left;
    font: normal normal 600 24px/30px Source Serif Pro;
    letter-spacing: 0px;
    color: #172026;
    opacity: 1;
    margin: 2% 0;
}
 
    .shipping-method-main-section{
        display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1em;
    margin: 5%;

    .shipping-method-section {
        margin: 0;
    }
    }
    .shipping-method-section-radiobtn {
        margin: 0;

        .shipping-method-btn {
            margin: 5% 0;
        }
    }
    
}