.price-summary-section h1 {
    /* UI Properties */
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-600) var(--unnamed-font-size-20)/var(--unnamed-line-spacing-25) var(--unnamed-font-family-muli);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-172026);
    text-align: left;
    font: normal normal 600 20px/25px Muli;
    letter-spacing: 0px;
    color: #172026;
}

.pricing-content {
    display: flex;
    justify-content: space-between;
}

.price-summary-container {
    /* UI Properties */
    background: var(--white) 0% 0% no-repeat padding-box;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 8px #0000000D;
    border: 1px solid #D1D3D6;
    border-radius: 2px;
    padding: 20px 20px;
    line-height: 36px;

}

.price-summary-container h2 {
    margin-bottom: 15px;
}

.checkout-btn {
    top: 558px;
    left: 1304px;
    width: 247px;
    height: 40px;
    /* UI Properties */
    background: var(--primary-brand) 0% 0% no-repeat padding-box;
    background: #1F39FF 0% 0% no-repeat padding-box;
    border-radius: 28px;
    border: navajowhite;
    margin-bottom: 12px;
    color: #FFFFFF;
}