@import url('../../../variable.scss');

//Mobile View
.add-product-section {
    /* UI Properties */
    border: 1px solid #D1D3D6;
    border-radius: 2px;
    opacity: 1;
    padding: 3%;
    margin-bottom: 20px;

    .add-product-block {
        display: flex;
        justify-content: space-between;
        padding: 3% 0;

        h1 {
            /* UI Properties */
            font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-600) var(--unnamed-font-size-16)/var(--unnamed-line-spacing-20) var(--unnamed-font-family-muli);
            letter-spacing: var(--unnamed-character-spacing-0);
            color: var(--unnamed-color-172026);
            text-align: left;
            font: normal normal 600 16px/20px Muli;
            letter-spacing: 0px;
            color: #172026;
            opacity: 1;
        }
    }
}

// .add-product-content {
//     display: grid;
//     grid-template-columns: 1fr 1fr;
//     gap: 1em;
// }
.product1-image,.product2-image{
    height: 100px;
    width: 100px;
}

.pro-1 {
    height: 100%;
    width: 100px;
}
.product-img-1 {
    height: 100%;
    width: 100%;
}
.content-details{
    display: grid;
        grid-template-columns:auto;
        align-items: center;
    }

//Desktop View

@media all and (min-width: 769px){
    .add-product-content{
        display: grid;
        grid-template-columns: 2fr;
        gap: 1em;
        align-items: center;
    }
    .pro-1 {
        height: 100%;
        width: 100px;
    }
    .product-img-1 {
        height: 100%;
        width: 100%;
    }
    .content-details{
        display: grid;
            grid-template-columns: 0.5fr 2fr;
            align-items: center;
            gap: 1em;
        }
   
}
