.thumbnail-img {
    display: none
}

.detail-img {
    height: auto;
    width: 100%;
}

.pdetail-img {
    border: 1px solid #ddd;
    padding: 10px;
    height: 100%;
    width: 100%;
}

.pdetail-info {
    margin-top: 16px;
}

.pd-color,
.pd-size,
.quantity,
.share-product {
    display: flex;
}

.swatch-img {
    width: 100%
}

.product-two-col .pd-color,
.product-two-col .pd-size {
    display: flex;
}

.swatch-img {
    width: 100%;
}

.c1 {
    border: 1px solid #91959c;
    border-radius: 6px;
    color: #545d63;
    height: 40px;
    margin: 1%;
    padding: 0;
    text-align: center;
    width: 64px;
    background-color: #0da0bc;
}

.c2 {
    background-color: #d82578;
    border: 1px solid #91959c;
    border-radius: 6px;
    color: #545d63;
    height: 40px;
    margin: 1%;
    padding: 0;
    text-align: center;
    width: 64px;
}

.c3 {
    border: 1px solid #91959c;
    border-radius: 6px;
    color: #545d63;
    height: 40px;
    margin: 1%;
    padding: 0;
    text-align: center;
    width: 64px;
    background-color: #333;
}

.c4 {
    border: 1px solid #91959c;
    border-radius: 6px;
    color: #545d63;
    height: 40px;
    margin: 1%;
    padding: 0;
    text-align: center;
    width: 64px;
    background-color: #a5a5a5;
}

.pd-heading {
    color: var(--unnamed-color-172026);
    color: #172026;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-600) var(--unnamed-font-size-20)/var(--unnamed-line-spacing-30) var(--unnamed-font-family-muli);
    font: normal normal 600 20px/30px Muli;
    letter-spacing: var(--unnamed-character-spacing-0);
    letter-spacing: 0;
    text-align: left;
}

.p-size {
    border: 1px solid #91959c;
    border-radius: 6px;
    color: #545d63;
    height: 30px;
    margin: 1%;
    padding: 4px 0;
    text-align: center;
    width: 60px;
}

.quantity {
    display: flex;
    margin: 2% 0;
    justify-content: center;
}

.input-grp-txt {
    background-color: transparent;
    border: none;
}

.count-box {
    align-items: center;
    background: var(--white) 0 0 no-repeat padding-box;
    background: #fff 0 0 no-repeat padding-box;
    border: 2px solid #91959c;
    border-radius: 8px;
    display: flex;
    height: 40px;
    justify-content: center;
    left: 1136px;
    margin: 0 2%;
    top: 614px;
    width: 114px;
}

.add-cart {
    background: var(--primary-brand) 0 0 no-repeat padding-box;
    background: #1f39ff 0 0 no-repeat padding-box;
    border: none;
    border-radius: 28px;
    color: #fff;
    height: 40px;
    left: 1092px;
    top: 694px;
    width: 318px;
}

.share-product {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-left: -83px;
}

.wishlist-1 {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 2%;
}

.share-icon {
    margin: 5px;
}

.pdetail-info p {
    color: var(--unnamed-color-172026);
    color: #172026;
    letter-spacing: var(--unnamed-character-spacing-0);
    letter-spacing: 0;
    text-align: left;
}

.wishlist-2 {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 2%;
}

.product-about-heding {
    color: var(--unnamed-color-172026);
    color: #172026;
    letter-spacing: var(--unnamed-character-spacing-0);
    letter-spacing: 0;
    text-align: left;
}

.desc-div {
    border: 2px solid #1f39ff;
    margin: 3% 0;
    width: 20%;
}

.details-main {
    margin-top: 0px;
}

@media screen and (min-width: 1000px) and (max-width: 1920px) {
    .product-two-col {
        display: grid;
        grid-template-columns: 1fr 3fr 3fr;
        gap: 1em;
    }

    .thumbnail-img {
        padding-right: 10px !important;
        display: block;
    }

    .small-img {
        border: 1px solid #ddd;
        height: 100px;
        object-fit: contain;
        object-position: 50% 50%;
        padding: 10px;
        width: 100%;
    }

    .arrow-down {
        display: block;
        margin: 0 auto;
    }

    .about {
        grid-column: 1/3;
        margin-top: 30px;
    }

    .pdetail-img {
        border: 1px solid #ddd;
        margin-right: 20px;
        padding: 10px;
    }

    .detail-img {
        height: 100%;
        object-fit: contain;
        object-position: 50% 50%;
        width: 100%;
    }

    .breadcurb {
        margin: 0 0 3%;
    }

    .pdetail-info p {
        color: var(--unnamed-color-172026);
        color: #172026;
        letter-spacing: var(--unnamed-character-spacing-0);
        letter-spacing: 0;
        text-align: left;
    }

    .pdetail-info h1,
    .product-two-col .pdetail-info h2 {
        color: var(--unnamed-color-172026);
        color: #172026;
        letter-spacing: var(--unnamed-character-spacing-0);
        letter-spacing: 0;
        text-align: left;
    }

    .pdetail-info h2 {
        font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-600) var(--unnamed-font-size-20)/var(--unnamed-line-spacing-30) var(--unnamed-font-family-muli);
        font: normal normal 600 17px/30px Muli;
    }

    .pdetail-info p {
        color: var(--unnamed-color-172026);
        color: #172026;
        letter-spacing: var(--unnamed-character-spacing-0);
        letter-spacing: 0;
        text-align: left;
    }

    .divider {
        border: 2px solid #ddd;
        margin: 5% 0;
    }

    .product-about-heding {
        color: var(--unnamed-color-172026);
        color: #172026;
        letter-spacing: var(--unnamed-character-spacing-0);
        letter-spacing: 0;
        text-align: left;
    }

    .product-about-sub-heading {
        font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-600) var(--unnamed-font-size-20)/var(--unnamed-line-spacing-25) var(--unnamed-font-family-muli);
        font: normal normal 600 16px/25px Muli;
        font-family: Mulish, sans-serif;
        margin: 2% 0;
    }

    .desc-div {
        border: 2px solid #1f39ff;
        margin: 3% 0;
        width: 20%;
    }

    .details-main {
        margin-top: 71px;
    }

    .aem-GridColumn {
        box-sizing: border-box;
        clear: both;
    }

    .aem-Grid {
        display: block;
        width: 100%;
    }

    .quantity {
        justify-content: flex-start;
    }
}